[submodule "Source/ThirdParty/NativeSDK"]
	path = Source/ThirdParty/NativeSDK
	url = https://github.com/modio/modio-sdk.git
	branch = main
[submodule "Source/ThirdParty/liburing"]
	path = Source/ThirdParty/liburing
	url = https://github.com/axboe/liburing.git
[submodule "Source/ThirdParty/mbedtls"]
	path = Source/ThirdParty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "Source/ThirdParty/msdfgen"]
	path = Source/ThirdParty/msdfgen
	url = https://github.com/stephenwhittle/msdfgen.git
